.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.in{
    width: 35%;
    /* background-color: red; */
}
.out{
    width: 55%;
    /* background-color: pink; */
}
